.semester {
  font-style: italic;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.classes {
  margin-bottom: 2em;
}

.class {
  display: flex;
  margin-top: 2px;
  justify-content: space-between;
  text-align: right;
  word-wrap: break-word;
}

.class-num {
  background: var(--accent);
  color: var(--accent-text);
  padding: 2px 4px;
}

.coding {
  background: var(--highlight);
}

@media only screen and (max-width: 1250px) {
  .class {
    font-size: 1.2vw;
  }
}

@media only screen and (max-width: 767px) {
  .class {
    font-size: 2.5vw;
  }
}
