.footer-container {
  font-size: 0.75em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-links {
  display: flex;
}

.footer-link {
  font-size: 2.5em;
  color: var(--links);
  text-decoration: none;
}

.footer-link + .footer-link {
  margin-left: 0.5em;
}
