.footer-container {
  width: calc(100% - 4em);
  height: 10vh;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75em;
  z-index: 100;
  background: var(--background);
}

.footer-links {
  display: flex;
}

.footer-link {
  font-size: 2.5em;
  color: var(--links);
  text-decoration: none;
}

.footer-link + .footer-link {
  margin-left: 0.5em;
}
