.navbar-container {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-links {
  display: flex;
}

.navbar-link {
  font-size: 0.75em;
  color: var(--links);
  text-decoration: none;
}

.navbar-link:hover {
  cursor: pointer;
}

.navbar-link + .navbar-link {
  margin-left: 1em;
}

.navbar-link-active {
  text-decoration: underline;
}
