.project-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--background);
}

.project-container + .project-container {
  margin-top: 2em;
}

.project-img {
  width: 48vw;
  margin-right: 2vw;
}

.project-title {
  margin-top: 0.25em;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.project-text {
  opacity: 0;
  position: absolute;
  height: calc(100% - 4vw - 2px);
  width: calc(100% - 2vw - 3px);
  padding: 2vw;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.project-text:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid var(--borders);
}

.project-title {
  font-family: Poppins, sans-serif;
  color: var(--body);
  font-weight: 600;
  font-size: 1.5em;
  text-transform: lowercase;
}

.project-links {
  display: flex;
}

.project-links a {
  text-decoration: none;
  color: var(--links);
  padding-bottom: 1px;
  border-bottom: 1px solid var(--links);
  font-size: 0.75em;
  margin-right: 0.5em;
}

.project-team {
  font-size: 0.75em;
}

.project-desc {
  margin-top: 1em;
}

/* @media screen and (max-width: 1200px) {
  .project-img {
    width: calc(100% / 3);
  }
} */
